html {
  font-size: 62.5%;
  font-family: sans-serif;
  color: rgb(192, 192, 192);
  background-color: rgb(32, 32, 32);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.6em;
}

header {
  border-bottom: solid 0.1rem rgb(128, 128, 128);
  background-color: rgb(20, 20, 20);
  padding: 3.2rem;
  text-align: center;
}

header img {
  height: 3.2rem;
}

header h1 {
  display: inline;
  font-size: 3.2rem;
}

main {
  margin: auto;
  max-width: 80%;
}

section {
  margin: 1.0rem;
  border: solid 0.1rem rgb(128, 128, 128);
  border-radius: 0.8rem;
  background-color: rgb(20, 20, 20);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1.4rem;
  padding: 1.6rem;
}

section p,
section ul {
  grid-column: 1 / 3;
}

li {
  margin-left: 2.4rem;
}

label {
  color: rgb(235, 235, 235);
  text-align: right;
  grid-column: 1 / 2;
}

input, textarea, button {
  grid-column: 2 / 3;
}

input, textarea {
  font-family: monospace;
  color: rgb(192, 192, 192);
  background-color: rgb(48, 48, 48);
  border: solid 0.1rem rgb(192, 192, 192);
}

textarea {
  overflow: auto;
  resize: vertical;
}

button {
  font-family: sans-serif;
}

span {
  font-size: 1.3rem;
  color: rgb(235, 235, 235);
  background-color: rgb(235, 48, 48);
  border-radius: 0.5rem;
  margin: 0.3rem;
  padding: 0.3rem;
}

footer {
  margin-top: auto;
  border-top: solid 0.1rem rgb(128, 128, 128);
  background-color: rgb(20, 20, 20);
  padding: 1.0rem;
  text-align: center;
}

footer small {
  font-size: 1.4rem;
}

footer a {
  text-decoration: none;
  color: rgb(192, 192, 192);
}